<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href= "css/main.css" rel="stylesheet" type="text/css" />
        <style>



        body
            {
            background-image:url("../images/background1.jpg");
            background-repeat: no-repeat;
            }

        </style>
    </head>
    <body>
    <nav>


        <div class="navbar navbar-expand-sm bg-dark justify-content-center" style="opacity: 85%;">
            <h1  style =" color:blanchedalmond; font-style: italic;">Nutrify</h1>
            <div class="nav">
                <h3 style="position:relativel; float:right; font-style: italic; margin-left: 240%; color:blanchedalmond">Homepage</h3>
        </div>
    </nav>
        
    <nav class="navbar bg-light col-lg-1 row-lg-12 " style="opacity:60%;  height: 100%;">

        <!-- Links -->
        <br>
        <br>
        <br>

        <h1 style=" opacity:90%; color:black;" >Meals</h1>
        <br>

        <ul class="navbar-nav" style=" opacity:90%; color:black;">
          <li class="nav-item">
            <a class="nav-link" href="#" style=" opacity:90%; color:black;">Add a meal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style=" opacity:90%; color:black;">Update A meal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"style=" opacity:90%; color:black;">Delete A meal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style=" opacity:90%; color:black;" href="#">Show All my meals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style=" opacity:90%; color:black;"href="#">Details about the meal</a>
          </li>
        
        
        
        </ul>
      
      </nav>
      Centered Navbar




        </body>
</html>